
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.main {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2%;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
}


header {
    font-family: 'Arizonia', cursive;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: none;
    color: #337ab7;
}

.social-icons a {
    color: #000000;
}

.content-main {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
    /* the bottom margin is the negative value of the footer's height */
}

.intro {
    font-size: 30px;
    padding-bottom: 30px;
}

.blocks {
    padding-bottom: 50px;
}

.block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    -moz-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
}

@keyframes pulse_animation {
  from {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
 }

 50% {
   -webkit-transform: scale3d(1.05, 1.05, 1.05);
   transform: scale3d(1.05, 1.05, 1.05);
 }

 to {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
 }
}

.block-anim{
  animation-name: pulse_animation;
	animation-duration: 1s;
  animation-fill-mode: both;
}



.block>h1>a {
    font-size: 55px;
    text-decoration: none;
    color: black;
}

.block>h1>a:hover {
    font-size: 55px;
    text-decoration: none;
    color: #428bca;
}

/* Project block */
.proj_block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    -moz-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    transition: all 0.3s ease;
}


.proj_block a:link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.proj_block a:visited {
    text-decoration: none;
    color: black;
}

.proj_block a:hover {
    text-decoration: none;
    color: #428bca;
}

.proj_block a:active {
    text-decoration: none;
    color: black;
}

/* Blog CSS */
.blog {
    margin: 20px;
}

.blog h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
