.main {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 4%;
}

header h1 {
    font-size: 60px;
    font-family: 'Arizonia', cursive;
}

header h1 > a{
    text-decoration: none;
    color: black;
}

header h1 > a:hover{
    text-decoration: none;
}

header h3 {
    font-size: 25px;
    font-family: 'Bungee Shade', cursive;
}


.social-icons a {
    color: #000000;
}

.content-main {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
    /* the bottom margin is the negative value of the footer's height */
}

.intro {
    font-size: 30px;
    padding-bottom: 30px;
}

.blocks {
    padding-bottom: 50px;
}

.block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    -moz-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
}

.block > h1> a {
    font-size: 55px;
    text-decoration: none;
    color: black;
}

.block > h1> a:hover {
    font-size: 55px;
    text-decoration: none;
    color: #428bca;
}


.blog{
    margin: 20px;
}

.blog h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
