.main {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2%;
}

header {
    font-family: 'Arizonia', cursive;
    color: black;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: none;
    color: #337ab7;
}

.social-icons a {
    color: #000000;
}

.content-main {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
    /* the bottom margin is the negative value of the footer's height */
}

.intro {
    font-size: 30px;
    padding-bottom: 30px;
}

.blocks {
    padding-bottom: 50px;
}

.block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    -moz-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
}

.block>h1>a {
    font-size: 55px;
    text-decoration: none;
    color: black;
}

.block>h1>a:hover {
    font-size: 55px;
    text-decoration: none;
    color: #428bca;
}

.proj_block {
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 40px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    -moz-box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
    box-shadow: -5px 10px 35px 3px rgba(48, 45, 48, 0.36);
}

.proj_block a:link {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.proj_block a:visited {
    text-decoration: none;
    color: black;
}

.proj_block a:hover {
    text-decoration: none;
    color: #428bca;
}

.proj_block a:active {
    text-decoration: none;
    color: black;
}

.blog {
    margin: 20px;
}

.blog h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
  background-color: #ffffff;
  border-top: thin solid #f3f3f3 ;
  color: black;
  font-size: .75rem;
  font-weight: 300;
  padding: 2rem !default ;
  text-align: center;
}
