.main{
   font-family: 'Josefin Sans', sans-serif;
}

.header h1{
    font-size: 60px;
    font-family: 'Arizonia', cursive;
}

.header h3{
    font-size: 25px;
    font-family: 'Bungee Shade', cursive;
}

.social-icons a{
    color: #2E2A2A;
}
.content-main{
    padding-top: 30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.intro{
   font-size: 30px;
    padding-bottom: 30px;
}

.blocks{
    padding-bottom: 50px;
}

.block{
    background-color: #ffffff;
    padding-left: 15px;
    padding-top: 60px;
    padding-right: 15px;     
    padding-bottom: 60px;
    border-radius: 4px;
    -webkit-box-shadow: -5px 10px 35px 3px rgba(48,45,48,0.36);
-moz-box-shadow: -5px 10px 35px 3px rgba(48,45,48,0.36);
box-shadow: -5px 10px 35px 3px rgba(48,45,48,0.36);
}

.block > h1> a{
    font-size: 55px;
    text-decoration: none;
    color: black;
}
.block > h1> a:hover{
    font-size: 55px;
    text-decoration: none;
    color: #428bca;
}